body {
	background: linear-gradient(-45deg, #ee6352, #e70c7e, #22a6d5, #2dbd56, #23d8ac);
	background-size: 800% 800%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

h2, h3 {
font-family: Arial, Helvetica Neue, sans-serif;

}